$borderGray: #f2f2f2;
$lightGray: #f4f4f4;
$gray: #818c99;
$graySecondary: #99a2ad;
$black: #000;
$backgroundGray: #19191a;
$blue-light: #5DB7DE;
$purple: #3D348B;
$primary-color: #fff;
$secondary-color: #007bff;
$blue-dark:#002776;