@font-face {
  font-family: 'PT Sans';
  src: url('src/Styles/PT-SANS/PTSans-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('src/Styles/PT-SANS/PTSans-BoldItalic.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('src/Styles/PT-SANS/PTSans-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('src/Styles/PT-SANS/PTSans-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}